<app-header></app-header>

<div class="banner">
  <img src="../assets/img/Rose45.jpg" alt="Avatar" class="image">
  <div class="overlay row" style="width: 100%; margin: 0;">
    <div class="col-6"></div>
    <div style="color: white; text-align: center" class="col-6">
      <h2 style="font-family: OpenSans; font-size: 40px">Hodgepodgees</h2>
      <p style="font-family: OpenSansItalic; font-size: 40px">
        "Capturing Lifestyles in a Candle"
      </p>
    </div>
  </div>
</div>
<div class="home-page-container">
  <div class="row">
    <div class="col"></div>
    <div class="col-3">
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
<app-footer></app-footer>