<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About</title>
</head>
<body>


<div id="picture">
  <img id="photo of store" src="">
</div>
<div id="bio">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores commodi delectus dicta ea enim esse, facilis fugiat harum illum impedit laudantium molestias mollitia, odit sapiente totam? Architecto enim modi repellat!
</div>
<br>
<br>
<br>
<div id="form">
  <form>
    Name: <input type="text" name="name"><br>
    Email: <input type="text" name="email"><br>
    Category:
    <mat-form-field>
      <select matNativeControl required>
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
    </mat-form-field><br>
    Description: <input type="text" name="description"><br>
  </form>
</div>


</body>
</html>
